<% unless leaderboard.empty? %>
  <ol start="<%= (25*(params[:page].to_i-1))+1 if params[:page] %>">
  <% leaderboard.each do |item| %>
    <% if item.user %>
      <li class="block <%= content_for_user(item.user) { "you" } %>">
        <%= render :partial => 'users/user', :locals => {:user => item.user} %>
        <div class="count"><%= pluralize(item.value.to_i, 'tomato') %></div>
      </li>
    <% end %>
  <% end %>
  </ol>
  <%= paginate @leaderboard %>
<% else %>
  <p>No tomatoers here</p>
<% end %>