<h1><%= ranking_title(params[:time_period]) %></h1>
<p><%= render partial: 'shared/ranking_links' %></p>

<% cache [:user_ranking_partial, params[:time_period], params.fetch(:page, 1)] do %>
  <%= render partial: 'ranking', locals: { leaderboard: @leaderboard } %>
<% end %>

<p>
  <strong>Note:</strong> leaderboard updates every <%= distance_of_time_in_words(@cache_expiration) %>.
</p>

<%- content_for :foot do -%>
  <script>
    window.Tomatoes = window.Tomatoes || {};
    window.Tomatoes.current_user_id = "<%= current_user && current_user.id %>";
  </script>
<%- end -%>
