<% remote = false if local_assigns[:remote].nil? %>

<%= form_for(@tomato, remote: remote) do |f| %>
  <% if @tomato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tomato.errors.count, "error") %> prohibited this tomato from being saved:</h2>

      <ul>
      <% @tomato.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, class: 'form-control input-lg', placeholder: 'cook, dessert' %>
  </div>
  <%= f.submit class: 'btn btn-default', :'data-disable-with' => 'Saving...' %>
<% end %>
