<% remote = false if local_assigns[:remote].nil? %>

<%= form_for(@tomato, :remote => remote) do |f| %>
  <% if @tomato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tomato.errors.count, "error") %> prohibited this tomato from being saved:</h2>

      <ul>
      <% @tomato.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tag_list %><br/>
    <%= f.text_field :tag_list, :tabindex => '1' %>
  </div>
  <div class="actions">
    <%= f.submit :class => "button", :'data-disable-with' => "Saving..." %>
  </div>
<% end %>
