<h3>Your tomatoes</h3>

<table>
  <thead>
    <tr>
      <th>Started at</th>
      <th>Tags</th>
      <th class="show"></th>
      <th class="edit"></th>
      <th class="destroy"></th>
    </tr>
  </thead>

  <tbody>
  <% @tomatoes.each do |tomato| %>
    <tr class="<%= cycle :even, :odd %>">
      <td><%= link_to l(tomato.created_at - Tomato::DURATION, format: :long), tomato %></td>
      <td><%= link_tags(tomato.tags) %></td>
      <td class="show"><%= link_to 'Show', tomato %></td>
      <td class="edit"><%= link_to 'Edit', edit_tomato_path(tomato) %></td>
      <td class="destroy"><%= link_to 'Destroy', tomato, data: { confirm: 'Are you sure?' }, method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @tomatoes %>

<%= link_to 'New Tomato', new_tomato_path, class: 'button' %>
