<h1><%= Tomato.model_name.human(count: 0) %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('mongoid.attributes.tomato.started_at') %></th>
      <th><%= t('mongoid.attributes.tomato.tags') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @tomatoes.each do |tomato| %>
    <tr>
      <td><%= link_to l(tomato.created_at - Tomato::DURATION, format: :long), tomato %></td>
      <td><%= link_tags(tomato.tags) %></td>
      <td><%= link_to t('show'), tomato %></td>
      <td><%= link_to t('edit'), edit_tomato_path(tomato) %></td>
      <td><%= link_to t('destroy'), tomato, method: :delete, data: { confirm: t('are_you_sure') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @tomatoes %>

<p>
  <%= link_to t('tomato.new'), new_tomato_path, class: 'btn btn-default' %>
</p>
