<h3>Your tomatoes</h3>

<table>
  <tr>
    <th>Started at</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tomatoes.each do |tomato| %>
  <tr>
    <td><%= tomato.created_at - Tomato::DURATION %></td>
    <td><%= tomato.tags.join(', ') %></td>
    <td><%= link_to 'Show', tomato %></td>
    <td><%= link_to 'Edit', edit_tomato_path(tomato) %></td>
    <td><%= link_to 'Destroy', tomato, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tomato', new_tomato_path %>
