<h3>Tomato <%= l(@tomato.created_at, format: :long) %></h3>

<p>
  <b>Started at:</b>
  <%= l(@tomato.created_at - Tomato::DURATION, format: :long) %>
</p>

<p>
  <b>Duration:</b>
  <%= tomato_duration(@tomato) %>
</p>

<p>
  <b>Tags:</b>
  <%= @tomato.tags.join(', ') %>
</p>


<%= link_to 'Edit', edit_tomato_path(@tomato) %> |
<%= link_to 'Back', tomatoes_path %>
