<h1><%= @tomato.model_name.human %> <%= l(@tomato.created_at, format: :long) %></h1>

<dl class="dl-horizontal">
  <dt>Started at</dt>
  <dd><%= l(@tomato.created_at - Tomato::DURATION, format: :long) %></dd>
  <dt>Duration</dt>
  <dd><%= tomato_duration(@tomato) %></dd>
  <dt>Tags</dt>
  <dd><%= link_tags(@tomato.tags) %></dd>
</dl>

<%= link_to t('edit'), edit_tomato_path(@tomato) %> |
<%= link_to t('back'), tomatoes_path %>
