<% content_for :scripts do %>
  <%= javascript_tag do %>
    var TOTAL_USERS_BY_DAY_STATISTICS_URL = '<%= total_users_by_day_statistics_url(format: :json) %>',
        USERS_BY_DAY_STATISTICS_URL = '<%= users_by_day_statistics_url(format: :json) %>',
        USERS_BY_TOMATOES_STATISTICS_URL = '<%= users_by_tomatoes_statistics_url(format: :json) %>',
        TOMATOES_BY_DAY_STATISTICS_URL = '<%= tomatoes_by_day_statistics_url(format: :json) %>';
  <% end %>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.7/jquery.flot.min.js"
    integrity="sha256-Jndbja6Oz3w6VfEwbdK4BWVcnjfi9k2k7hmFYJZgt2Q="
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.7/jquery.flot.selection.min.js"
    integrity="sha256-8WzAV3WHQIndMnKO9o6xzOkP8AAwLOeEJncVATWnFLg="
    crossorigin="anonymous"></script>

  <%= javascript_include_tag 'statistics' %>
<% end %>

<h1>Statistics</h1>

<h2>Users</h2>
<p>
  <%= pluralize(@users, 'user') %><br/>
  <% if @users > 0 %>
    about <%= pluralize(@tomatoes/@users, 'tomato') %> per user
  <% end %>
</p>

<h2>Users by day</h2>
<div class="chart" id="users_by_day">
  <%= image_tag 'loading.gif', class: 'loading' %>
</div>

<!--
<h2>Users by tomatoes</h2>
<div class="chart" id="users_by_tomatoes">
  <%= image_tag 'loading.gif', class: 'loading' %>
</div>
-->

<h2>Tomatoes</h2>
<p>
  <%= pluralize(@tomatoes, 'tomato') %><br/>
  about <%= humanize(@tomatoes*Tomato::DURATION) %> of work<br/>
  about <%= number_with_precision(@tomatoes/((Time.zone.now - @first_tomato.created_at) / 3600)) %> tomatoes per hour
</p>

<h2>Tomatoes by day</h2>
<div class="chart" id="tomatoes_by_day">
  <%= image_tag 'loading.gif', class: 'loading' %>
</div>
