<%= bootstrap_form_for @user, layout: :horizontal do |f| %>
  <%= f.alert_message t('form_alert_message') %>

  <%= f.text_field :name, placeholder: 'Francesco Cirillo' %>
  <%= f.text_field :email, placeholder: 'fcirillo@tomato.es' %>
  <%= f.time_zone_select :time_zone, nil, { include_blank: true } %>
  <%= f.select :currency, options_for_select(User::CURRENCIES.invert, @user.currency), {}, { class: 'form-control' } %>
  <%= f.number_field :work_hours_per_day, placeholder: '8', help: t('helpers.help.user.work_hours_per_day') %></p>
  <%= f.label :average_hourly_rate %>
  <%= f.number_field :average_hourly_rate, placeholder: '35.5', step: '0.1', prepend: current_user.currency_unit, help: t('helpers.help.user.average_hourly_rate') %></p>
  <%= f.range_field :volume, min: 0, max: 3, help: t('helpers.help.user.volume_html') %></p>
  <%= f.check_box :ticking, label:  t('helpers.label.user.ticking') %>
  <div class="form-group row">
    <%= f.text_field :color, placeholder: '#ccff00', help: t('helpers.help.user.color') %>
    <div id="colorpicker" class="col-sm-4"></div> 
  </div>
  <%= f.submit class: 'btn btn-default' %>
<% end %>
