<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %></br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %></br>
    <%= f.text_field :email %>
    <div class="hint">Your email address.</div>
  </div>
  <div class="field">
    <%= f.label :time_zone %></br>
    <%= time_zone_select 'user', 'time_zone', nil, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :currency %></br>
    <%= f.select(:currency, options_for_select(User::CURRENCIES.invert, @user.currency)) %>
  </div>
  <div class="field">
    <%= f.label :work_hours_per_day %></br>
    <%= f.text_field :work_hours_per_day %>
    <div class="hint">How many hours do you work per day? Example: <em>8</em></div>
  </div>
  <div class="field">
    <%= f.label :average_hourly_rate %></br>
    <%= f.text_field :average_hourly_rate %>
    <div class="hint">How much do you charge per hour? Example: <em>35.5</em></div>
  </div>
  <div class="field">
    <%= f.label :volume %></br>
    <%= f.range_field :volume, :min => 0, :max => 3 %>
    <div class="hint">Default timer volume. <em>0</em> is <em>mute</em>, <em>3</em> is <em>max volume</em>.</div>
  </div>
  <div class="field">
    <%= f.check_box :ticking %><%= f.label :ticking %>
    <div class="hint">Timer ticking effect.</div>
  </div>

  <div class="field block">
    <div class="left">
      <%= f.label :color %></br>
      <%= f.text_field :color, :disabled => !@user.granted?('tomatoer', 3) %>
      <% unless @user.granted?('tomatoer', 3) %>
        <div class="hint">You must collect al least 100 tomatoes to get access to this feature</div>
      <% else %>
        <div class="hint">An hexadecimal color code. Example: <em>#ccff00</em></div>
      <% end %>
    </div>
    <% if @user.granted?('tomatoer', 3) %>
      <div id="colorpicker" class="left"></div>
    <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit :class => "button" %>
  </div>
<% end %>
