<h2>Your tags</h2>
<table>
  <thead>
    <tr>
      <th>Tag</th>
      <th class="number">Tomatoes</th>
      <th class="time">Time</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |array| %>
      <tr class="<%= cycle :even, :odd %>">
        <td><%= array[0] %></td>
        <td class="number"><%= array[1] %></td>
        <td class="time"><%= humanize(array[1]*Tomato::DURATION) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tags %>