<p>
  <b>Provider:</b>
  <%= @user.provider %>
</p>

<p>
  <b>Uid:</b>
  <%= @user.uid %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Freckle login:</b>
  <%= @user.freckle_login %>
</p>

<p>
  <b>Freckle token:</b>
  <%= @user.freckle_token %>
</p>

<%= link_to 'Your tomatoes', tomatoes_path %><br/>
<%= link_to 'Edit', edit_user_path(@user) %>
