<% content_for :head do %>
  <%= javascript_include_tag "jquery.flot.js", "jquery.flot.selection.js", "user_charts.js" %>
  <%= javascript_include_tag by_day_user_tomatoes_path(@user, :format => :js) %>
  <%= javascript_include_tag by_hour_user_tomatoes_path(@user, :format => :js) %>
<% end %>

<div id="user">
  <div class="block">
    <div class="left profile_image size48">
      <%= profile_image(@user, 48) %>
      <div class="overlay"></div>
    </div>
    <%= user_name(@user) %><br/>
    <%= link_to "http://github.com/#{@user.login}", "http://github.com/#{@user.login}" %><br/>
    Tomatoes: <%= @user.tomatoes.size %>
    <% ['twitter', 'github'].each do |provider| %>
      <h2>
        <%= image_tag("#{provider}.png", :width => 32) %>
        <%= provider.capitalize %>
      </h2>
      <% if authorization = @user.authorization_by_provider(provider) %>
        <%= image_tag authorization.image %>
        <%= link_to authorization.url, authorization.url %><br/>
        <%= link_to "Reconnect with #{provider}", signin_path(provider) %>
      <% else %>
        <%= link_to "Connect with #{provider}", signin_path(provider) %>
      <% end %>
    <% end %>
  </div>
  
  <% if current_user && current_user.id == @user.id %>
    <p>
      <%= link_to 'Your tomatoes', tomatoes_path %> |
      <%= link_to 'Edit', edit_user_path(@user) %>
    </p>
  <% end %>
</div>

<h2>Tomatoes by day</h2>
<div class="chart" id="tomatoes_by_day"></div>
<div class="chart overview" id="tomatoes_by_day_overview"></div>

<h2>Tomatoes by hour</h2>
<div class="chart" id="tomatoes_by_hour"></div>

<% if current_user && current_user.id == @user.id %>
  <h2>Tomatoes by tag</h2>
  <table>
    <thead>
      <tr>
        <th>Tag</th>
        <th>Tomatoes</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% @user.tags.each do |array| %>
        <tr class="<%= cycle :even, :odd %>">
          <td><%= array[0] %></td>
          <td class="number"><%= array[1] %></td>
          <td class="time"><%= humanize(array[1]*Tomato::DURATION) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>