<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="support-tomatoes">
          <%= t('footer.support_the_project_html') %>
        </p>
        <p>
          <%= render partial: 'leaderboard/links' %><br/>
          <%= link_to "API Reference", page_path('api_reference') %>,
          <%= link_to "How to", page_path('how_to') %>,
          <%= link_to "Statistics", statistics_path %><br/>
          <%= link_to "Terms of service", page_path('terms') %>,
          <%= link_to "Privacy policy", page_path('privacy') %>,
          <%= link_to "Imprint", page_path('imprint') %>
        </p>
      </div>
      <div class="col-md-6">
        <p>
          <%= t('footer.follow_updates_html') %><br/>
          <%= link_to t('app_name'), TomatoesApp::REPO %> - <%= link_to "version #{TomatoesApp::VERSION}", "#{TomatoesApp::REPO}/tree/#{TomatoesApp::VERSION}" %>
        </p>
        <div id="add_to_chrome">
          <p>
            <%= link_to 'https://chrome.google.com/webstore/detail/jijbhneeenepenoolcdalnekggeialeo' do %>
              <i class="fa fa-chrome" aria-hidden="true"></i> <%= t('footer.add_to_chrome') %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="trademarks">
          <%= t('footer.disclaimer_html') %>
        </p>
      </div>
    </div>
  </div>
</footer>
