<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Tomatoes', root_path, class: 'navbar-brand logo' %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= user_name(current_user) %></li>
          <li><%= link_to 'Sign out', signout_path, method: :delete %></li>
        <% else %>
          <li>
            <%= link_to signin_path('github') do %>
              <%= image_tag('github.png', width: 24) %>
              Sign in with GitHub
            <% end %>
          </li>
          <li>
            <%= link_to signin_path('twitter') do %>
              <%= image_tag('twitter.png', width: 24) %>
              Sign in with Twitter
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
