<div id="top-menu">
  <div class="row">
    <nav class="top-bar contain-to-grid">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <div id="logo" class="block auth left">
            <div class="text">
              <h1><%= link_to "Tomatoes", root_path %></h1>
            </div>
          </div>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <% if current_user %>
            <%= render :partial => 'users/user', :locals => {:user => current_user} %>
            <li><%= link_to "Sign out", signout_path %></li>
          <% else %>
            <li><%= link_to signin_path('github') do %>
              <%= image_tag("github.png", :width => "24") %>
              Sign in with GitHub
            <% end %>
            or
            <%= link_to signin_path('twitter') do %>
              <%= image_tag("twitter.png", :width => "24") %>
              Sign in with Twitter
            <% end %></li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>
</div>