<% content_for :scripts do %>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/soundmanager2/2.97a.20150601/script/soundmanager2-nodebug-jsmin.js"
    integrity="sha256-5KBL+8gS3BkWOs22YOrezN3Djl4pwodgZaPQY9hgu4Y="
    crossorigin="anonymous"></script>

  <%= javascript_tag do %>
    <%= render partial: 'welcome/timer/configuration.js' %>
    <%= render partial: 'welcome/timer/translations.js' %>
  <% end %>

  <%= javascript_include_tag 'TT' %>

  <style type="text/css">
    #progress_bar {
      background-color: <%= hex_to_rgba(current_user ? current_user.color : User::DEFAULT_COLOR) %>;
    }
  </style>
<% end %>

<div id="overlay" style="display: none"></div>
<div id="progress_bar"></div>
<div id="timer" class="fixed_center" style="display: none">
  <div class="controls clearfix">
    <div id="ticking_sound_switch_container">
      <%= check_box_tag('ticking_sound_switch', '1', current_user ? current_user.ticking : User::DEFAULT_TICKING, id: 'ticking_sound_switch') %>
      <label for="ticking_sound_switch"><%= t('timer.ticking_sound') %></label>
    </div>
    <div class="volume">
      <div class="btn btn-default btn-sm down">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </div>
      <div id="volume_icon" class="mute_toggle"></div>
      <div class="btn btn-default btn-sm up">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div id="timer_counter"></div>
  <%= link_to t('timer.reset'), '#', id: 'reset', class: 'btn btn-default' %>
  <p id="reset_hint" class="help-block"><%= t('timer.or_press_esc') %></p>
</div>
<div id="new_tomato_form" class="fixed_center" style="display: none">
  <% if current_user %>
    <%= render 'tomatoes/form', remote: true %>
  <% else %>
    <div id="tomato_signin">
      <p><%= t('timer.signin_to_start_tracking') %></p>

      <%= link_to signin_path(Authorization::PROVIDER_GITHUB), class: 'btn btn-block btn-social btn-github' do %>
        <span class="fa fa-github"></span> <%= t('signin_with.github') %>
      <% end %>

      <%= link_to signin_path(Authorization::PROVIDER_TWITTER), class: 'btn btn-block btn-social btn-twitter' do %>
        <span class="fa fa-twitter"></span> <%= t('signin_with.twitter') %>
      <% end %>

      <div id="cancel">
        <%= link_to t('timer.cancel'), '#', id: 'reset_signin', class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>

<div id="start_container" class="center-block">
  <%= link_to t('timer.start'), '#', id: 'start', class: 'btn btn-default btn-lg' %>
  <p id="start_hint" class="help-block"><%= t('timer.or_press_space') %></p>
  <div class="form-group choose_duration">
    <label for="duration_time_input"><%= t('tomato.duration') %></label>
    <input name="duration_time"
           id="duration_time_input"
           class="form-control choose_duration__input"
           type="range"
           min="5"
           max="60"
           value="5"
           oninput="duration_time_output.value = duration_time_input.value">
    <output class="choose_duration__output" name="duration_time_output" id="duration_time_output">
      5
    </output>
    <span><%= t('minutes') %></span>
  </div>
</div>
