<% unless current_user %>
  <div class="container">
    <div class="intro jumbotron">
      <p>
        <%= t('welcome.title_html') %><br/>
        <%= t('welcome.sub_title_html') %>
      </p>
    </div>
  </div>
<% end %>

<%= render partial: 'tomatoes_timer' %>

<div class="container">
  <% if current_user %>
    <%= render partial: 'dashboard' %>
  <% else %>
    <div class="intro">
      <p>
        <%= link_to signin_path(Authorization::PROVIDER_GITHUB), method: :post, class: 'btn btn-lg btn-social btn-github' do %>
          <span class="fa fa-github"></span> <%= t('signin_with.github') %>
        <% end %>

        <%= link_to signin_path(Authorization::PROVIDER_TWITTER), method: :post, class: 'btn btn-lg btn-social btn-twitter' do %>
          <span class="fa fa-twitter"></span> <%= t('signin_with.twitter') %>
        <% end %>
      </p>

      <p><%= t('timer.signin_to_start_tracking') %></p>
    </div>
  <% end %>
</div>
