<% unless current_user %>
  <div id="intro">
    <p>Tomatoes is a <i>pomodoro tracker</i>, a Pomodoro technique® driven time tracker.</p>
    <p>Use the Pomodoro technique® to track your working time in 25-minutes slot called <i>pomodoro</i>.</p>
  </div>

  <div class="sign_in block">
    <%= link_to signin_path('github'), :class => "button" do %>
      <%= image_tag("github.png", :width => "32") %>
      Sign in with GitHub
    <% end %>
    or
    <%= link_to signin_path('twitter'), :class => "button" do %>
      <%= image_tag("twitter.png", :width => "32") %>
      Sign in with Twitter
    <% end %>
    <p>Sign in to start tracking your pomodoros.</p>
  </div>
<% else %>
  <% content_for :head do %>
    <%= javascript_include_tag "TT" %>
  <% end %>

  <div id="progress_bar">
    <div id="timer_container">
      <p id="timer" style="display: none"></p>
      <%= link_to "Reset", "#", :id => "reset", :class => "button", :style => "display: none" %>
      <p id="reset_hint">or press esc</p>
      <div id="new_tomato_form" style="display: none">
        <%= render 'tomato_form' %>
      </div>
    </div>
  </div>

  <div id="index" class="block">
    <div id="start_container">
      <%= link_to "Start", "#", :id => "start", :class => "button" %>
      <p id="start_hint">or press space bar</p>
    </div>
    
    <div id="list_container" class="left">
      <%= render :partial => 'tomatoes_list', :locals => {:high => nil} %>
    </div>
  </div>
<% end %>

<div id="leaderboards" class="block">
  <h2>Leaderboards</h2>
  <%= render :partial => 'leaderboard_list', :locals => {:ranking => "today", :leaderboard => @day_leaderboard} %>
  <%= render :partial => 'leaderboard_list', :locals => {:ranking => "this_week", :leaderboard => @week_leaderboard} %>
  <%= render :partial => 'leaderboard_list', :locals => {:ranking => "this_month", :leaderboard => @month_leaderboard} %>
  <%= render :partial => 'leaderboard_list', :locals => {:ranking => "all_time", :leaderboard => @everytime_leaderboard} %>
</div>
