<% unless current_user %>
  <p>Sign in with your GitHub account and start tracking your pomodoros.</p>
  <div id="sign_in" class="block">
    <%= link_to signin_path, :class => "button" do %>
      <%= image_tag("Octocat.png", :width => "32") %>
      Sign in with GitHub
    <% end %>
  </div>
<% else %>
  <div id="index" class="block">
    <div id="timer_container" class="left">
      <%= link_to "Start", "#", :id => "start", :class => "button" %>
      <p id="timer" style="display: none"></p>
      <%= link_to "Squash", "#", :id => "squash", :class => "button", :style => "display: none" %>
      <div id="new_tomato_form" style="display: none">
        <%= render 'tomato_form' %>
      </div>
    </div>
    
    <div id="list_container" class="left">
      <%= render :partial => 'tomatoes_list', :locals => {:high => nil} %>
    </div>
  </div>
  <div id="leaderboards" class="block">
    <h2>Leaderboards</h2>
    <%= render :partial => 'leaderboard_list', :locals => {:title => "Today", :leaderboard => @day_leaderboard} %>
    <%= render :partial => 'leaderboard_list', :locals => {:title => "This week", :leaderboard => @week_leaderboard} %>
    <%= render :partial => 'leaderboard_list', :locals => {:title => "This month", :leaderboard => @month_leaderboard} %>
    <%= render :partial => 'leaderboard_list', :locals => {:title => "Everytime", :leaderboard => @everytime_leaderboard} %>
  </div>
<% end %>