<h1>Sponsorship</h1>

<h2>Schedule:</h2>
<table class="schedule">
  <tr>
    <td>June 3 – June 9</td>
    <td><%= link_to "Available", "mailto:potomak84@gmail.com?subject=Sponsorship" %></td>
  </tr>
  <tr>
    <td>June 10 – June 16</td>
    <td><%= link_to "Available", "mailto:potomak84@gmail.com?subject=Sponsorship" %></td>
  </tr>
  <tr>
    <td>June 17 – June 23</td>
    <td><%= link_to "Available", "mailto:potomak84@gmail.com?subject=Sponsorship" %></td>
  </tr>
  <tr>
    <td>June 24 – June 30</td>
    <td><%= link_to "Available", "mailto:potomak84@gmail.com?subject=Sponsorship" %></td>
  </tr>
  <tr>
    <td>July 1 – July 7</td>
    <td><%= link_to "Available", "mailto:potomak84@gmail.com?subject=Sponsorship" %></td>
  </tr>
  <tr>
    <td>July 8 – July 14</td>
    <td><%= link_to "Available", "mailto:potomak84@gmail.com?subject=Sponsorship" %></td>
  </tr>
  <tr>
    <td>July 15 – July 21</td>
    <td><%= link_to "Available", "mailto:potomak84@gmail.com?subject=Sponsorship" %></td>
  </tr>
  <tr>
    <td>July 22 – July 28</td>
    <td><%= link_to "Available", "mailto:potomak84@gmail.com?subject=Sponsorship" %></td>
  </tr>
  <tr>
    <td>July 29 – August 4</td>
    <td><%= link_to "Available", "mailto:potomak84@gmail.com?subject=Sponsorship" %></td>
  </tr>
  <tr>
    <td>August 5 – August 11</td>
    <td><%= link_to "Available", "mailto:potomak84@gmail.com?subject=Sponsorship" %></td>
  </tr>
  <tr>
    <td>August 12 – August 18</td>
    <td><%= link_to "Available", "mailto:potomak84@gmail.com?subject=Sponsorship" %></td>
  </tr>
  <tr>
    <td>August 19 – August 25</td>
    <td><%= link_to "Available", "mailto:potomak84@gmail.com?subject=Sponsorship" %></td>
  </tr>
</table>

<p>Price: $100</p>

<p>
  To schedule a sponsorship or for additional information, email <%= link_to "Giovanni Cappellotto", "mailto:potomak84@gmail.com" %>.
</p>

<p>
  Week-long sponsorships are available for Tomatoes' timer. This is the only way to promote your product or service specifically to Tomatoes' audience of nerds, designers, formerly-procrastinators, productive-workers, perfectionists, and connoisseurs of fine sarcasm.
</p>

<ul class="rules">
  <li>Estimated Tomatoes users: over 6,000.</li>
  <li>Estimated monthly web page views: over 60,000.</li>
  <li>Sponsorship is exclusive. Only one sponsor per week.</li>
  <li>A promotional item from the sponsor will appear in the dashboard of every user at the start of the week.</li>
</ul>