<h1><%= Project.model_name.human(count: 0) %></h1>

<% if @projects.present? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('mongoid.attributes.project.name') %></th>
        <th><%= t('mongoid.attributes.project.tags') %></th>
        <th><%= t('mongoid.attributes.project.money_budget') %></th>
        <th><%= t('mongoid.attributes.project.time_budget') %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= link_tags(project.tags) %></td>
        <td><%= money(project.money_budget, project.user.currency_unit) %></td>
        <td><%= distance_of_time_in_words(project.time_budget*60*60) if project.time_budget %></td>
        <td><%= link_to t('show'), project %></td>
        <td><%= link_to t('edit'), edit_project_path(project) %></td>
        <td><%= link_to t('destroy'), project, method: :delete, data: { confirm: t('are_you_sure') } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @projects %>
<% else %>
  <p>You don't have any project yet.</p>
<% end %>

<p>
  <%= link_to t('project.new'), new_project_path, class: 'btn btn-default' %>
</p>
