<h3>Your projects</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tags</th>
      <th>Money budget</th>
      <th>Time budget</th>
      <th class="show"></th>
      <th class="edit"></th>
      <th class="destroy"></th>
    </tr>
  </thead>

  <tbody>
  <% @projects.each do |project| %>
    <tr class="<%= cycle :even, :odd %>">
      <td><%= link_to project.name, project %></td>
      <td><%= project.tags.join(', ') %></td>
      <td><%= money(project.money_budget, project.user.currency_unit) %></td>
      <td><%= distance_of_time_in_words(project.time_budget*60*60) if project.time_budget %></td>
      <td class="show"><%= link_to 'Show', project %></td>
      <td class="edit"><%= link_to 'Edit', edit_project_path(project) %></td>
      <td class="destroy"><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @projects %>

<%= link_to 'New Project', new_project_path, :class => 'button' %>
