<h3>Projects</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tags</th>
      <th>Money budget</th>
      <th>Time budget</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @projects.each do |project| %>
    <tr class="<%= cycle :even, :odd %>">
      <td><%= project.name %></td>
      <td><%= project.tags.join(', ') %></td>
      <td><%= money_budget(project) %></td>
      <td><%= distance_of_time_in_words(project.time_budget) if project.time_budget %></td>
      <td><%= link_to 'Show', project %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @projects %>

<%= link_to 'New Project', new_project_path, :class => 'button' %>
