<h1><%= @project.name %> project</h1>

<dl class="dl-horizontal">
  <dt>Tags</dt>
  <dd><%= link_tags(@project.tags) %></dd>
  <dt>Tracked tomatoes</dt>
  <dd><%= pluralize(@project.tomatoes.count, 'tomato') %></dd>
  <dt>Money budget</dt>
  <dd><%= @project.money_budget ? money(@project.money_budget, @project.user.currency_unit) : 'n/a' %></dd>
  <dt>Time budget</dt>
  <dd><%= @project.time_budget ? distance_of_time_in_words(@project.time_budget*60*60) : 'n/a' %></dd>
</dl>

<h3>Project statistics</h3>

<dl class="dl-horizontal">
  <dt>Estimated hourly rate</dt>
  <dd><%= @project.estimated_hourly_rate ? hourly_rate(@project.estimated_hourly_rate, @project.user.currency) : 'n/a' %></dd>
  <dt>Effective hourly rate</dt>
  <dd><%= @project.effective_hourly_rate ? hourly_rate(@project.effective_hourly_rate, @project.user.currency) : 'n/a' %></dd>
  <dt>Effective/estimated hourly rate</dt>
  <dd><%= @project.hourly_rate_delta ? hourly_rate(@project.hourly_rate_delta, @project.user.currency) : 'n/a' %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Estimated work time</dt>
  <dd><%= @project.estimated_work_time ? distance_of_time_in_words(@project.estimated_work_time) : 'n/a' %></dd>
  <dt>Effective work time</dt>
  <dd><%= distance_of_time_in_words(@project.effective_work_time) %></dd>
  <dt>Effective/estimated work time</dt>
  <dd><%= @project.work_time_delta > 0 ? '+' : '-' %> <%= distance_of_time_in_words(@project.work_time_delta.abs) %></dd>
</dl>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
