<h2>Your tags</h2>

<table>
  <thead>
    <tr>
      <th>Tag</th>
      <th class="number">Tomatoes</th>
      <th class="time">Time</th>
    </tr>
  </thead>
  <tbody>
    <% @tomatoes_by_tag.each do |tag, tomatoes_count| %>
      <tr class="<%= cycle :even, :odd %>">
        <td><%= link_to h(tag), tag_path(h(tag)) %></td>
        <td class="number"><%= tomatoes_count %></td>
        <td class="time"><%= humanize(tomatoes_count*Tomato::DURATION) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tomatoes_by_tag %>