<div class="authorization left">
  <div class="block">
    <h2>
      <%= image_tag("#{provider}.png", :width => 32) %>
      <%= provider.capitalize %>
    </h2>
    <% if authorization = user.authorization_by_provider(provider) %>
      <div class="left profile_image size48">
        <%= image_tag authorization.image, :width => 48 %>
      </div>
      <%= link_to authorization.url, authorization.url %><br/>
      <%= link_to "Reconnect with #{provider}", signin_path(provider) %>
    <% else %>
      <%= link_to "Connect with #{provider}", signin_path(provider) %>
    <% end %>
  </div>
</div>