<div class="authorization">
  <h4>
    <i class="fa fa-<%= provider %>" aria-hidden="true"></i>
    <%= t("auth_providers.#{provider}") %>
  </h4>
  <% if authorization = user.authorization_by_provider(provider) %>
    <div class="media">
      <div class="profile_image media-left">
        <%= image_tag authorization.image, width: 64, class: 'media-object' %>
      </div>
      <div class="media-body">
        <p><%= link_to authorization.url, authorization.url %></p>
        <p>
          <%= link_to signin_path(provider), class: ['btn', 'btn-social', "btn-#{provider}"] do %>
            <span class="fa fa-<%= provider %>"></span> <%= t("reconnect_with.#{provider}") %>
          <% end %>
        </p>
      </div>
    </div>
  <% else %>
    <%= link_to signin_path(provider), class: ['btn', 'btn-social', "btn-#{provider}"] do %>
      <span class="fa fa-<%= provider %>"></span> <%= t("connect_with.#{provider}") %>
    <% end %>
  <% end %>
</div>
