<!DOCTYPE html>
<html>
<head>
  <title>Tomatoes</title>
  <meta charset="UTF-8">
  <meta content='Simple pomodoro technique tracking tool. Track your time using 25 minutes slots called "pomodoros" and load them to your Freckle account.' name='description' />
  <meta content='Tomatoes' name='title' />
  <link href='http://fonts.googleapis.com/css?family=Varela+Round|Leckerli+One&v2' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'sm/script/soundmanager2-nodebug-jsmin.js', 'time_zone' %>
  <%= csrf_meta_tag %>
  <%= javascript_tag do %>
    var tomatoDuration = <%= Tomato::DURATION/60 %>;
    var tomatoBreakDuration = <%= Tomato::BREAK_DURATION/60 %>;
  <% end %>
</head>
<body>
  <div id="container">
    <header>
      <div class="block">
        <% if current_user %>
          <div class="left user">
            <%= render :partial => 'users/user', :locals => {:user => current_user} %>
          </div>
          <div class="right"><%= link_to "Sign out", signout_path %></div>
        <% else %>
          <div class="right"><%= link_to "Sign in with GitHub", signin_path %></div>
        <% end %>
      </div>
  
      <div id="logo">
        <h1 class="<%= "start" unless current_user %>"><%= link_to "Tomatoes", root_path %></h1>
        <h2 class="<%= "start" unless current_user %>">Pomodoro technique<sup>®</sup> time tracker</h2>
      </div>
      
      <div id="flash">
        <%= render :partial => 'shared/flash', :locals => {:flash => flash} %>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p>
        Follow updates <%= link_to "@johnnyaboh", "http://twitter.com/johnnyaboh" %><br/>
        <%= link_to "Tomatoes", TomatoesApp::REPO %> - <%= link_to "version #{TomatoesApp::VERSION}", "#{TomatoesApp::REPO}/tree/#{TomatoesApp::VERSION}" %>
      </p>
      <p>
        <% tomatoes = Tomato.all.count %>
        <%= pluralize(User.all.count, 'user') %> already tracked <%= pluralize(tomatoes, 'tomato') %><br/>
        about <%= humanize(tomatoes*Tomato::DURATION) %> of work
      </p>
    </footer>
  </div>
</body>
</html>
