<!DOCTYPE html>
<html>
<head>
  <title>Tomatoes</title>
  <meta charset="UTF-8">
  <meta content='Tomatoes is a "pomodoro tracker", a Pomodoro technique® driven time tracker. Track your time using 25 minutes slots called "pomodoros".' name='description' />
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/jijbhneeenepenoolcdalnekggeialeo">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300|Leckerli+One&v2' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= javascript_tag do %>
    var tomatoDuration = <%= Tomato::DURATION/60.0 %>;
    var tomatoBreakDuration = <%= Tomato::BREAK_DURATION/60.0 %>;
    var DEBUG = <%= Rails.env.development? %>;
  <% end %>
  
  <%= yield :head %>
  
  <%= javascript_tag do %>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2935139-19']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  <% end %>
  
  <%= javascript_tag do %>
    (function() {
      var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
      t.parentNode.insertBefore(s, t);
    })();
  <% end %>
</head>
<body>
  <div id="container">
    <header>
      <div class="block">
        <% if current_user %>
          <div class="left user">
            <%= render :partial => 'users/user', :locals => {:user => current_user} %>
          </div>
          <div class="right"><%= link_to "Sign out", signout_path %></div>
        <% else %>
          <div class="right">
            <%= link_to "Sign in with GitHub", signin_path('github') %>
            or
            <%= link_to "Sign in with Twitter", signin_path('twitter') %>
          </div>
        <% end %>
      </div>
      
      <div id="logo" class="block <%= current_user ? "auth" : "start" %>">
        <div class="text">
          <h1><%= link_to "Tomatoes", root_path %></h1>
          <h2>Pomodoro technique<sup>®</sup> time tracker</h2>
        </div>
        <div id="sponsors" class="block">
          <p class="left">Sponsored by</p>
          <a id="mongohq" class="left" href="http://mongohq.com">MongoHQ</a>
        </div>
      </div>
      
      <%= render :partial => 'shared/announcement' %>
      
      <div id="flash">
        <%= render :partial => 'shared/flash', :locals => {:flash => flash} %>
      </div>
    </header>

    <%= yield %>

    <footer class="block">
      <p class="left">
        <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="http://tomatoes.heroku.com"></a>
        <noscript><a href="http://flattr.com/thing/376437/Tomatoes" target="_blank">
        <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript><br/>
        <span id="add_to_chrome"><%= link_to "Add to Chrome", "#" %><br/></span>
        Follow updates <%= link_to "@johnnyaboh", "http://twitter.com/johnnyaboh" %><br/>
        <%= link_to "Tomatoes", TomatoesApp::REPO %> - <%= link_to "version #{TomatoesApp::VERSION}", "#{TomatoesApp::REPO}/tree/#{TomatoesApp::VERSION}" %>
      </p>
      <p class="right">
        <%= render :partial => 'shared/statistics' %>
      </p>
    </footer>
  </div>
</body>
</html>
