<!DOCTYPE html>
<html>
<head>
  <title>Tomatoes</title>
  <meta content='Simple pomodoro technique tracking tool. Track your time using 25 minutes slots called "pomodoros" load it to your Freckle account.' name='description' />
  <meta content='Tomatoes' name='title' />
  <link href='http://fonts.googleapis.com/css?family=Varela+Round&v2' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header>
    <% if current_user %>
      <%= link_to current_user.name, current_user %> <%= link_to "sign out", signout_path %>
    <% else %>
      <%= link_to "sign in", signin_path %>
    <% end %>
  
    <h1><%= link_to "Tomatoes", root_path %></h1>
    
    <div id="flash">
      <% flash.each do |key, msg| %>
        <div class="<%= key %>"><p><%= msg %></p></div>
      <% end %>
    </div>
  </header>

  <%= yield %>

  <footer>
    <%= link_to "@johnnyaboh", "http://twitter.com/johnnyaboh" %>
  </footer>
</body>
</html>
