<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Tomatoes' %></title>
  <meta charset="UTF-8">
  <meta content='Tomatoes is a "pomodoro tracker", a Pomodoro technique® driven time tracker. Track your time using 25 minutes slots called "pomodoros".' name='description' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/jijbhneeenepenoolcdalnekggeialeo">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,600|Leckerli+One&v2' rel='stylesheet' type='text/css'>
  <link id="favicon" rel="icon" type="image/png" href="<%= asset_path 'tomatoes_icon.png' %>">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tag %>
  
  <%= yield :head %>
  
  <%= javascript_tag do %>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2935139-19']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  <% end %>
  
  <%= javascript_tag do %>
    (function() {
      var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
      t.parentNode.insertBefore(s, t);
    })();
  <% end %>
</head>
<body>
  <div id="container">
    <%= yield :header %>

    <div id="main_container">
      <div class="container">
        <%= render :partial => 'shared/announcement' %>
          
        <div id="flash">
          <%= render :partial => 'shared/flash', :locals => {:flash => flash} %>
        </div>

        <%= yield %>
      </div>
    </div>

    <div id="footer_container">
      <%= render partial: 'shared/footer' %>
    </div>
  </div>

  <%= yield :foot %>
  <%= javascript_include_tag "application" %>
</body>
</html>
