<!DOCTYPE html>
<html>
<head>
  <title>Tomatoes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta content='Tomatoes is a "pomodoro tracker", a Pomodoro technique® driven time tracker. Track your time using 25 minutes slots called "pomodoros".' name='description' />
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/jijbhneeenepenoolcdalnekggeialeo">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,600|Leckerli+One&v2' rel='stylesheet' type='text/css'>
  <link id="favicon" rel="icon" type="image/png" href="<%= asset_path 'tomatoes_icon.png' %>">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>

  <%= yield :head %>

  <%= render :partial => 'shared/ga' %>
  <%= render :partial => 'shared/fb' %>
</head>
<body>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <div id="container">
    <%= yield :header %>

    <div id="main_container">
      <div class="container">
        <%= render :partial => 'shared/announcement' %>

        <div id="flash">
          <%= render :partial => 'shared/flash', :locals => {:flash => flash} %>
        </div>

        <% unless current_user %>
          <%= render :partial => 'shared/adv_leaderboard' %>
        <% end %>

        <%= yield %>

        <% unless current_user %>
          <%= render :partial => 'shared/adv_leaderboard' %>
        <% end %>

      </div>
    </div>

    <div id="footer_container">
      <%= render partial: 'shared/footer' %>
    </div>
  </div>

  <%= yield :foot %>
</body>
</html>
