<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= t('title') %></title>
    <meta content="<%= t('description') %>" name="description" />

    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/jijbhneeenepenoolcdalnekggeialeo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700|Leckerli+One" rel="stylesheet" type="text/css">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= asset_path 'apple-touch-icon-144x144.png' %>" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= asset_path 'apple-touch-icon-152x152.png' %>" />
    <link rel="icon" type="image/png" href="<%= asset_path 'favicon-32x32.png' %>" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= asset_path 'favicon-16x16.png' %>" sizes="16x16" />
    <meta name="application-name" content="Tomatoes"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="<%= asset_path 'mstile-144x144.png' %>" />

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tag %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <% unless current_user %>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <% end %>

    <%= yield :header %>

    <div class="container">
      <div id="flash">
        <%= render partial: 'shared/flash', locals: {flash: flash} %>
      </div>

      <%= render partial: 'shared/announcement' %>

      <% unless current_user %>
        <%= render partial: 'shared/ad_unit' %>
      <% end %>
    </div>

    <%= yield :content %>

    <div class="container">
      <% unless current_user %>
        <%= render partial: 'shared/ad_unit' %>
      <% end %>
    </div>

    <%= render partial: 'shared/footer' %>

    <%= javascript_include_tag 'application' %>

    <script
      src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"
      integrity="sha256-H28SdxWrZ387Ldn0qogCzFiUDDxfPiNIyJX7BECQkDE="
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"
      integrity="sha256-S20kSlaai+/AuQHj3KjoLxmxiOLT5298YvzpaTXtYxE="
      crossorigin="anonymous"></script>

    <%= render partial: 'shared/ga' %>
    <%= yield :scripts %>
  </body>
</html>
